<div align="center">
    <h1>US Violent Crime Data Analysis</h1>
    <h2>Data Analysis on Violent Crime in the United States of America 1960-2019</h2>
</div>

<img src="car_police_light.png" alt="Police Car Lights">

In [47]:
# Import dependencies
from dotenv import load_dotenv
import pandas as pd
import matplotlib.pyplot
import plotly.express as px
import os
import mysql.connector
import db_helpers

In [48]:
# Load environment variables
load_dotenv()

True

In [49]:
# Read environment variables
DB_NAME = os.getenv("DB_NAME")
DB_HOST = os.getenv("DB_HOST")
DB_USER = os.getenv("DB_USER")
DB_PASS = os.getenv("DB_PASS")
DB_TABLE = os.getenv("DB_TABLE")

In [50]:
# Try to create a connection to the MySQL database
try:
    db_conn = db_helpers.get_db_conn(DB_NAME, DB_HOST, DB_USER, DB_PASS)

except Exception as e:
    print("Count not connect to database ")
    print(e)

In [51]:
# Build SQL Query to grab all data from the DB
sql_query = f"SELECT * FROM {DB_TABLE}"

In [52]:
# Generate a DB cursor
db_cursor = db_conn.cursor()

In [53]:
# Try to Execute the SQL Query to grab all data regarding US Violent Crime from the Database
try:
    db_cursor.execute(sql_query)

except Exception as e:
    print("Could not grab data from the database")
    print(e)

else:
    # Read Data to Pandas DataFrame
    crime_df = pd.read_sql(db_cursor.statement, db_conn)

finally:
    # Close cursor an database connection
    db_cursor.close()
    db_conn.close()

/tmp/ipykernel_43888/3371217419.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  crime_df = pd.read_sql(db_cursor.statement, db_conn)

InternalError: Unread result found